<section class="py-12">
  <div
    class="bg-light-bg shadow-main shadow w-3/4 md:w-1/2 mx-auto rounded-xl py-8"
  >
    <h1 class="text-center text-5xl pb-4">Forget Password</h1>
    @if (step===1) {
    <form [formGroup]="verifyEmail" (ngSubmit)="forgotPassword()">
      <app-input
        [control]="verifyEmail.get('email')"
        [typeInput]="'email'"
        [idInput]="'email'"
        [label]="'Email'"
      ></app-input>
      <button class="my-btn w-[80%] mx-auto block mb-6" type="submit">
        Verify Email
      </button>
    </form>
    } @if(step==2){
    <form [formGroup]="verifyCode" (ngSubmit)="verifyResetCode()">
      <app-input
        [control]="verifyCode.get('resetCode')"
        [typeInput]="'text'"
        [idInput]="'resetCode'"
        [label]="'Reset Code'"
      ></app-input>
      <button class="my-btn w-[80%] mx-auto block mb-6" type="submit">
        Verify Code
      </button>
    </form>
    } @if(step===3){
    <form [formGroup]="resetPassword" (ngSubmit)="resetUserPassword()">
      <app-input
        [control]="resetPassword.get('email')"
        [typeInput]="'email'"
        [idInput]="'email'"
        [label]="'Email'"
      ></app-input>
      <app-input
        [control]="resetPassword.get('newPassword')"
        [typeInput]="'Password'"
        [idInput]="'newPassword'"
        [label]="'New Password'"
      ></app-input>
      <button class="my-btn w-[80%] mx-auto block mb-6" type="submit">
        Reset Password
      </button>
    </form>
    }
  </div>
</section>
